<h3 class="card-header">Reset Password</h3>
<div class="card-body">
    <div *ngIf="tokenStatus == TokenStatus.Validating">
        Validating token...
    </div>
    <div *ngIf="tokenStatus == TokenStatus.Invalid">
        Token validation failed, if the token has expired you can get a new one at the <a routerLink="../forgot-password">forgot password</a> page.
    </div>
    <form *ngIf="tokenStatus == TokenStatus.Valid" [formGroup]="resetForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label for="password" class="form-label">Password</label>
                        <div class="input-group">
                            <input type="password" class="form-control" id="password" formControlName="password" />
                            <div class="alert alert-danger"
                            *ngIf="f['password'].invalid && (f['password'].dirty || f['password'].touched)">
                            <div *ngIf="f['password'].errors?.['required']">Email is required</div>
                            <div *ngIf="f['password'].errors?.['minlength']">Password should have at least
                                8 characters</div>
                            <div *ngIf="f['password'].errors?.['pattern']">
                                    Password must have digits, special characters, big and small letters
                                </div>
                            </div>
                        </div>
        </div>
        <div class="form-group">
            <label for="confirmPassword" class="form-label">Confirm Password</label>
                        <div class="input-group">
                            <input type="password" class="form-control" id="confirmPassword" formControlName="confirmPassword" />
                            <div class="alert alert-danger"
                            *ngIf="f['confirmPassword'].invalid && (f['confirmPassword'].dirty || f['confirmPassword'].touched)">
                            <div *ngIf="f['confirmPassword'].errors?.['required']">Email is required</div>
                            <div *ngIf="f['confirmPassword'].errors?.['mustMatch']">Passwords must match</div>
                            </div>
                        </div>
        </div>
        <div class="form-group">
            <button [disabled]="loading" class="btn btn-primary">
                <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                Reset Password
            </button>
            <a routerLink="../login" class="btn btn-link">Cancel</a>
        </div>
    </form>
</div>